/*General styling*/

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Chivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Six+Caps&family=Sora:wght@100..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
p {
  color: rgb(85, 85, 85);
  font-size: 1.6rem;
}
/*Transition*/
a,
btn {
  transition: all 300ms ease;
}

/* navigation */

nav,
.nav-links {
  display: flex;
}
nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}
.nav-links {
  gap: 3.2rem;
  list-style: none;
  font-size: 2.1rem;
}
a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}
a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 0.96rem;
  text-decoration-color: rgba(181, 181, 181);
}
.logo {
  font-size: 3.2rem;
}
.logo:hover {
  cursor: default;
}
/* Hamburger menu*/
#hamburger-nav {
  display: none;
}
.hamburger-menu {
  position: relative;
  display: inline-block;
}
.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 2.4rem;
  width: 3rem;
  cursor: pointer;
}
.hamburger-icon span {
  width: 100%;
  height: 0.2rem;
  background-color: black;
  transition: all 0.3ms ease-in-out;
}
.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: transparent;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3ms ease-in-out;
}
.menu-links a {
  display: block;
  padding: 1rem;
  text-align: center;
  font-size: 2.4rem;
  color: black;
  text-decoration: none;
  transition: all 0.3ms ease-in-out;
}

.menu-links li {
  list-style: none;
}
.menu-links.open {
  max-height: 30rem;
}
.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(1rem, 0.5rem);
}
.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}
.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(1rem, -0.5rem);
}
.hamburger-icon span:first-child {
  transform: none;
  opacity: 1;
}

/* Sections*/
section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

/* profile section */
#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}
.image-container {
  display: flex;
  height: 380px;
  width: 380px;
  margin: auto 0;
}
.profile-img {
  border-radius: 50%;
}
.section_text {
  align-self: center;
}
.section_text p {
  font-weight: 600;
}

.section_text-p1 {
  font-size: 2.6rem;
  margin-bottom: 0.64rem;
}
.title {
  font-size: 3.2rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}
.linkdin-icon,
.github-icon,
.contact-icon {
  width: 4rem;
  height: 4rem;
  transition: all 300ms ease;
  cursor: pointer;
}
.wrapper {
  display: flex;
  align-items: center;
}
.wrapper .static-txt {
  margin-right: 0.5rem;
}

.wrapper .dynamic-txt li span {
  -webkit-text-fill-color: transparent;
  background: #000;
  -webkit-background-clip: text;
  white-space: nowrap;
  border-right: 3.2px solid #000;

  display: inline-block;
  line-height: 4.5rem;
  height: 4.5rem;
  overflow: hidden;

  animation: cursor 0.8s step-end infinite,
    typing 3s steps(10) infinite alternate;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
@keyframes typing {
  0%,
  10% {
    width: 0;
  }
  70%,
  100% {
    width: 100%;
  }
}
.wrapper .dynamic-txt {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  height: 4.5rem;
  overflow: hidden;
  width: 10ch;
}
.wrapper .dynamic-txt li {
  list-style: none;
  position: relative;
  height: 4.5rem;
  animation: slide calc(2 * 3 * 2s) steps(2) infinite;
}
@keyframes slide {
  100% {
    transform: translateY(-200%);
  }
}

.section_text-p2 {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
  max-width: 600px;
}
.socials-container {
  display: flex;
  justify-content: start;
  gap: 0.6rem;
  margin-top: 1rem;
}
/*Icons*/

/* About section */

.autoShow {
  animation: text-appear both;
  animation-timeline: view();
  animation-range: entry 10% cover 80%;
}

@keyframes text-appear {
  from {
    opacity: 0;
    transform: translateY(10rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.about_me_text,
.browse-project,
.tech-skills-sub_t,
.contact-title-p {
  font-size: 1.6rem;
  margin-bottom: 0.6rem;
  text-align: center;
}
.about_me_title,
.projects-title,
.skills-title,
.contact-title {
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 0.8rem;
}
.section_container {
  display: flex;
  gap: 4.8rem;
  margin-top: 4.8rem;
}
.about_me-container {
  padding-top: 1.6rem;
  max-width: 700px;
}
.about_me-container p {
  font-size: 1.5rem;
}

.about-pic {
  height: 400px;
  border: rgba(186, 183, 183, 0.3) 0.2rem solid;
  border-radius: 16px;
}

/* Buttons */
.btn-container {
  margin-top: 2.1rem;
}
.resume-btn {
  margin-right: 0.5rem;
}
.btn {
  font-weight: 600;
  font-size: 1.4rem;
  transition: all 300ms ease;
  padding: 1.3rem;
  width: 12.8rem;
  border-radius: 6px;
}
.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 1px solid;
}
.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-2,
.btn-color-1:hover {
  background: rgb(53, 53, 53);
  color: white;
}
.btn-color-2:hover {
  background: #000000;
}
.btn-color-1 {
  background: none;
}
.btn-color-1:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

/*Projects section */

.project-details-container {
  display: flex;
  justify-content: center;
}
.details-container {
  padding: 3.2rem 1.6rem;
  border: rgb(53, 53, 53) 0.2rem solid;
  border-radius: 32px;
  text-align: center;
}
.about-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.4rem;
  margin-top: 6.4rem;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background-color: rgb(250, 250, 250);
}
.project-sub-title {
  font-weight: 600;
  font-size: 1.9rem;
  color: rgb(85, 85, 85);
  margin-top: 0.8rem;
  margin-bottom: 2.4rem;
}
.project_btn-container {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
}

.img-container {
  width: 100%;
  max-width: 400px;
}
.project-img {
  width: 100%;
  height: auto;
  border-radius: 32px;
}

.project-btn {
  color: #000;
  border: rgb(53, 53, 53) 0.2rem solid;
  border-color: rgb(163, 163, 163);
  border-radius: 21px;
  background-color: #fff;
}
.project-btn:hover {
  cursor: pointer;
}

/* Skills section */
.tech-skills-sub_t {
  font-size: 1.8rem;
}

.tech-stack-section {
  margin-top: 3.9rem;
  margin-bottom: 3.2rem;
}
.tech_stack-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3.2rem;
  width: 100%;
}

.tools-platforms-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* keeps alignment to the left */
  gap: 2rem;
  max-width: 100rem; /* controls row breaking */
  margin: 0 auto;
  width: 100%;
}
.tools-platforms-icon {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.react path {
  fill: #61dafb;
}
.icon {
  width: 5.3rem;
  height: 5.3rem;
}
.javascript path {
  fill: #f7df1e;
}
.css path {
  fill: #663399;
}
.html path {
  fill: #e34f26;
}
.claude path {
  fill: #d97757;
}
.vite path {
  fill: #646cff;
}

.npm path {
  fill: #cb3837;
}
.figma path {
  fill: #f24e1e;
}
.git path {
  fill: #f05032;
}

.netlify path {
  fill: #00c7b7;
}
.github path {
  fill: #fff;
}

.dark-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.9rem;
  padding: 1.6rem 2.2rem;
  border-radius: 12px;
  border: rgb(53, 53, 53) 0.2rem solid;
  width: 12.8rem;
  cursor: default;
  background-color: rgb(35, 35, 53);
}

.tech-label {
  color: white;
}

.icon:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 0 12px #6ea3b1);
}
.dark-bg:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 12px #70a2d4);
}
h3 {
  font-size: 2.6rem;

  text-align: center;
  margin-top: 4.8rem;
  margin-bottom: 2.1rem;
}

/* Contact */
#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 75vh;
}
.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 32px;
  border: rgb(53, 53, 53) 0.2rem solid;
  border-color: rgb(163, 163, 163);
  background-color: rgb(250, 250, 250);
  margin: 3.2rem auto;
  padding: 0.8rem;
}
.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  margin: 1.6rem;
}
.contact-info-container {
  font-size: 1.6rem;
}
.contact-icon {
  cursor: default;
}
.email-icon {
  height: 5rem;
  width: 5rem;
}
/*footer*/

footer {
  height: 21vh;
  margin: 0 1.6rem;
}
footer p {
  text-align: center;
}
